/*
 * @Author: yangli 
 * @Date: 2018-04-20 13:35:38 
 * @Last Modified by: yangli
 * @Last Modified time: 2018-04-20 13:40:48
 */
.cate-select{
    width: 200px;
    margin-right: 20px;
    display: inline-block;
}